input[type='file'] {
  display: none; 
}

.label-button {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: xx-large;
  padding: 40px 40px;
  color: var(--secondary-green);
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  background-color: var(--primary-green);
  cursor: pointer;
}
.label-button:hover {
  background-color: var(--secondary-green);
  box-shadow: 0 0 0 5px var(--primary-green-shadow);
  color: var(--white);
  transition: 0.5s;
}

.file-name {
  margin-top: 8px;
}
