.detail-content-container {
  position: relative;
  flex-direction: column;
  display: flex;
  gap: 8px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--black);
  overflow-y: scroll;
  padding: 16px 16px 16px 16px;
}

.detail-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.close-button {
  flex: none
}

.key {
  color: var(--primary-blue);
  text-transform: uppercase;
}

