.nav {
  margin: 10px;
  display: flex;
  gap: 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--secondary-blue);
  color: var(--primary-blue);
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

.active {
  background-color: var(--primary-blue);
  color: var(--white);
}

.button:hover {
  background-color: var(--primary-blue);
  box-shadow: 0 0 0 5px var(--secondary-blue);
  color: var(--white);
}
