@keyframes buttonSlide {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.button-render-animation {
  animation-name: buttonSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.search-button {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  background-color: var(--secondary-blue);
  color: var(--primary-blue);
  border: none;
  border-radius: 8px;
  transition: 0.5s;
}

.search-button:hover {
  background-color: var(--primary-blue);
  box-shadow: 0 0 0 5px var(--primary-blue-shadow);
  color: var(--white);
  transition: 0.5s;
}

.active {
  background-color: var(--primary-blue);
  color: var(--white);
}

