@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .tree {
  display: flex;
  list-style-type: none;
}

.node {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: blue;
  border-radius: 50px;
  border: 1px solid #ddd;
  text-align: center;
}

.subtree {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

li {
  display: flex;
  flex-direction: column;
} */


.tree {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.node {
  padding: 8px;
  background-color: #5c21f2;
  border: 1px solid #ddd;
  margin-bottom: 4px;
}

.subtree {
  margin-left: 16px;
}
