body {
  display: flex;
  flex-direction: column;
  
 
 
}

:root {
  --primary-blue: #3b82f6;
  --primary-blue-shadow: #3b83f65f;
  --secondary-blue: #cfdff9;
  --white: #ffffff;
  --disabled-gray-soft: rgb(200, 200, 200);
  --disabled-gray-strong: rgb(100, 100, 100);
  --black:rgba(0, 0, 0, 0.5);
  --primary-green: #61CA87;
  --primary-green-shadow: #61CA87;
  --secondary-green: #007F4E;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--secondary-blue); 
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}






