.HOME-PAGE {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  overflow-x: hidden;
}

.main-container{
  
  padding-top: 20px;
  padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex: 1;
    flex-direction: column;
   
}

.null-content-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.filters-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.null-content {
  height: 5%;
 display: flex;
 flex: 1;
 flex-direction: column;
 font-size: xx-large;
 text-align: center;
 color: var(--disabled-gray-strong)
}



