.inputGroup {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.input-container {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid var(--disabled-gray-soft);
  background-color: transparent;
  border-radius: 20px;
  flex: 1;
  transition: flex 0.3s ease-in-out, box-shadow 0.3s;
  box-shadow: none;
}

.input-container:focus {
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 5px var(--primary-blue-shadow);
  transition: 0.3s;
}

.input-container-small {
  flex: 0.8;
}

.search-label {
  position: absolute;
  padding: 0.9em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--disabled-gray-strong);
  transform-origin: top left;
}

.input-container:valid + .search-label,
.inputGroup.focused .search-label {
  display: none;
}

.glass-and-search {
  display: flex;
  align-items: center;
  gap: 8px;
}
