.main-dropdowntable table {
  width: 100%;
  border-collapse: collapse;
}

.main-dropdowntable th {
  display: flex;
  flex: 1;
  background-color: var(--primary-blue);
  color: var(--white);
  border-bottom: 1px solid var(--disabled-gray-soft);
  padding: 8px;
}

.main-dropdowntable tr {
  display: flex;
  align-items: center;
  align-items: stretch;
  border-collapse: collapse;
}

.main-dropdowntable td {
  border-bottom: 1px solid var(--disabled-gray-soft);
  flex: 1;
  min-width: 0;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  border-collapse: collapse;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
}

.main-dropdowntable {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--disabled-gray-soft);
  margin-bottom: 20px;
}

.row-item {
  padding: 8px;
  display: flex;
  flex: 1;
}

.dropdown-button-active {
  background-color: var(--primary-blue);
  color: var(--white);
}

.dropdown-button-and-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
