/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Estilos para el menú lateral */
.table-with-side-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/*Table*/
.table-container {
  flex: 1;
  flex-direction: row;
  transition: flex 0.3s ease-in-out;
}

.row {
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
}
.row:hover {
  
  color: var(--white);
  transition: 0.5s;
  background-color: var(--primary-blue);
  box-shadow: 0 0  10px var(--black);
  transform: scale(1.03); 
}





