/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Estilos para el menú lateral */
.table-with-side-menu {
  display: flex;
  gap: 10px;
}

/*Table*/
.table-container {
  flex: 1;
  transition: flex 0.3s ease-in-out;
}
.table-container-small {
  flex: 0.3;
}

.row {
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
}
.row:hover {
  
  color: var(--white);
  transition: 0.5s;
  background-color: var(--primary-blue);
  box-shadow: 0 0  10px var(--black);
  transform: scale(1.03); 
}

@keyframes menuSlide {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.side-menu-render-animation {
  animation-name: menuSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

/*Lateral menu*/
.side-menu {
  background-color: #f0f0f0;
  flex: 0.7;
  transition: 0.5s;
}

.close-button {
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #ccc;
  color: #fff;
  border: none;
  cursor: pointer;
}
.close-button:hover {
  background-color: #aaa;
}
